*{
    margin: 0;
    padding: 0;
}

body{
    background: #101010;
    min-height: 100vh;
}

.biggie {
    background-image: url(Images/image5.jpg);
    background-position: center;
    height: 40rem;
    
}

@media (max-width: 800px) {
    .biggie {
        font-size: 30px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 430px) {
    .biggie {
        font-size: 30px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 375px) {
    .biggie {
        font-size: 30px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


.header{
    height: 60px;
    display: flex;
}


.header nav {
    height: 60px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    
    
}


.header nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.header nav ul li{
    height: 50px;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    height: 100%;
    padding: 0 40px;
    align-items: center;
    font-size: 15px;
}

@media (max-width: 430px) {
    .header nav ul li a {
        font-size: 12px;
        padding: 10px;
        
        
    }
}


.header nav ul li a:hover{
    color: #f13574;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
    background-color: #19191950;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-button{
    display: none;
    
}

@media (max-width: 800px) {
    .menu-button{
        display: block;
        color: #fff;
    }
    
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media (max-width: 430px) {
    .sidebar{
        width: 100%;
        
    }
}

.btn1{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    font-weight: bolder;
    border-radius: 50px;
    border: #f13574;
    background-color: #f13574;
    transition: transform .4s;
}

@media (max-width: 800px) {
    .btn1{
        margin-top: 30px;
        height: 30px;
    }
}

@media (max-width: 430px) {
    .btn1{
        display: none;
    }
}

.btn1:hover{
    transform: scale(1.2);
}

.para1 {
    justify-content: left;
    margin-left: 60px;
    margin-top: 80px;
}

@media (max-width: 800px) {
    .para1{
        width: 768px;
    }
    
}

@media (max-width: 430px) {
    .para1{
        width: 430px;
    }
    
}

@media (max-width: 375px) {
    .para1{
        width: 375px;
    }
    
}

.para1 p{
    font-size: 40px;
    color: #fcfc;
}

@media (max-width: 800px) {
    .para1 p{
        font-size: 25px;
    }
    
}

@media (max-width: 430px) {
    .para1 p{
        font-size: 15px;
    }
    
}

.para1 h1 {
    font-size: 80px;
    padding-top: 20px;
    color: #fff;
}

@media (max-width: 800px) {
    .para1 h1 {
        font-size: 50px;
    }
}

@media (max-width: 430px) {
    .para1 h1 {
        font-size: 25px;
    }
}
.para1 h1 span{
    color: #f13574;
}
.para1 h2{
    margin-top: 15px;
    color: #fff;
}

@media (max-width: 800px) {
    .para1 h2 {
        font-size: 35px;
    }
}

@media (max-width: 430px) {
    .para1 h2 {
        font-size: 20px;
    }
}

.newsletter form {
    width: 420px;
    max-width: 100%;
    position: relative;
    padding-top: 24px;
}

@media (max-width: 800px) {
    .newsletter form{
        width: 300px;
    }
}

@media (max-width: 430px) {
    .newsletter form{
        width: 150px;
    }
}

.newsletter form input{
    font-size: 18px;
}

@media (max-width: 800px) {
    .newsletter form input {
        font-size: 15px;
    }
    
}

@media (max-width: 430px) {
    .newsletter form input {
        font-size: 10px;
    }
    
}

.newsletter form input:first-child{
    display: inline-block;
    width: 80%;
    padding: 20px 70px 20px 20px;
    border: 2px solid #f13574;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f13574;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

@media (max-width: 800px) {
    .newsletter form input:last-child{
        padding: 10px 15px;
        right: -20px;
        box-shadow: none;
    }
    
}

@media (max-width: 430px) {
    .newsletter form input:last-child{
        padding: 10px 15px;
        right: -60px;
        box-shadow: none;
    }
    
}

.para2 {
    display: flex;
    padding-top: 80px;
    padding-top: 80px;
    background-color: #151515;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;

}

@media (max-width: 800px) {
    .para2 {
        padding: 0px;
        margin: 15px;
        padding: 15px;
        
        
    }
}

@media (max-width: 430px) {
    .para2 {
        display: inline;
        padding: 0px;
        margin: 15px;
        
        
    }
}

@media (max-width: 800px) {
    .para2 img {
       width: 250px;
    }
}

@media (max-width: 430px) {
    .para2 img {
       padding-left: 65px;
       width: 300px;
    }
}

@media (max-width: 375px) {
    .para2 img {
       padding-left: 40px;
       width: 300px;
    }
}


.right1{
    padding-left: 40px;
} 

@media (max-width: 430px) {
    .right1 {
        padding-left: 65px;
    }
}

@media (max-width: 375px) {
    .right1 {
        padding-left: 40px;
    }
}

.para2 h1 {
    color: #fff;
    font-size: 60px;
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    .para2 h1 {
        font-size: 40px;
    }
}

@media (max-width: 430px) {
    .para2 h1 {
        font-size: 25px;
    }
}

.para2 h3 {
    color: #fff;
   
}

@media (max-width: 800px) {
    .para2 h3 {
        font-size: 22px;
    }
}

@media (max-width: 430px) {
    .para2 h3 {
        font-size: 15px;
    }
}

.para2 h3 span{
    color: #f13574;
}

.para2 p {
    color: #fff;
    font-size: 18px;
    
}

@media (max-width: 800px) {
    .para2 p {
        font-size: 15px; 
        margin-right: 100px; 
    }
}

@media (max-width: 430px) {
    .para2 p {
        font-size: 12px;  
    }
}
 .left1 img{
    height: auto;
 }

.btn2{
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 120px;
    font-weight: bolder;
    border-radius: 50px;
    height: 40px;
    border: #f13574;
    background-color: #f13574;
    transition: transform .4s;
    color: #fff;
}


.btn2:hover{ 
    background-color: transparent;
    border: solid 2px #f13574;
    cursor: pointer;
    transform: scale(1.2);
    
}

.para3{
    background: #101010;
    padding: 100px 0px;
}


@media (max-width: 430px) {
    .para3 {
        width: 300px;
        padding-left: 80px;

    }
}

@media (max-width: 375px) {
    .para3 {
        width: 250px;
        padding-left: 60px;

    }
}

.para3 h1 {
    color: #fff;
    font-size: 75px;
    width: 100%; 
    margin: 30px auto;
    text-align: center;
}

@media (max-width: 800px) {
    .para3 h1 {
        font-size: 50px;
        width: auto;
    }
}

@media (max-width: 430px) {
    .para3 h1 {
        font-size: 30px;
        width: auto;
    }
}

@media (max-width: 375px) {
    .para3 h1 {
        font-size: 30px;
    }
}

.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 800px) {
    .card-section{
        width: auto;
    }
}

@media (max-width: 430px) {
    .card-section{
        display: inline;
        width: auto;
    }
}


.card1 {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    
}

@media (max-width: 800px) {
    .card1{
        width: 170px;
        height: 400px;
    }
}

@media (max-width: 430px) {
    .card1{
        width: 170px;
        height: 280px;
    }
}

@media (max-width: 375px) {
    .card1{
        width: 150px;
    }
}

.card1 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f13574;
}

@media (max-width: 430px) {
    .card1 i{
        font-size: 40px;
    }
}

.card1 h2 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

@media (max-width: 430px) {
    .card1 h2{
        font-size: 15px;
    }
}

.card1 p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

@media (max-width: 430px) {
    .card1 p{
        font-size: 10px;
    }
}

.card1 .btn3 {
    background-color: #f13574;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

@media (max-width: 430px) {
    .card1 .btn3{
        padding: 7px 15px;
        font-size: 10px;
    }
}

.card1 .btn3:hover{
    background-color: transparent;
    border: 2px solid #f13574;
    cursor: pointer;
}

.para4{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

@media (max-width: 800px) {
    .para4{
        font-size: 25px;
        width: 768px;
    }
    
}

@media (max-width: 430px) {
    .para4{
        font-size: 15px;
        width: 425px;
        height: 220px;
    }
    
}

@media (max-width: 375px) {
    .para4{
        font-size: 15px;
        width: 375px;
        height: 220px;
    }
    
}




.para4 .btn4 {
    background-color: #f13574;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 30px;
    transition: .4s;
}

@media (max-width: 800px) {
    .para4 .btn4{
        font-size: 15px;
    }
}

@media (max-width: 430px) {
    .para4 .btn4{
        font-size: 10px;
    }
}

.para4 .btn4:hover{
    background-color: transparent;
    border: 2px solid #f13574;
    cursor: pointer;
}


footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width : 800px) {
    footer {
        font-size: 20px;
    }
}

@media (max-width : 430px) {
    footer {
        font-size: 10px;
    }
}


footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

@media (max-width : 800px) {
    footer p:nth-child(1) {
        font-size: 25px;
    }
}

footer p:nth-child(2){
    color: #fff;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;   
}

@media (max-width : 800px) {
    footer p:nth-child(2) {
        font-size: 15px;
        width: 768px;
    }
}

@media (max-width : 430px) {
    footer p:nth-child(2) {
        font-size: 10px;
        width: 400px;
    }
}

@media (max-width : 375px) {
    footer p:nth-child(2) {
        font-size: 12px;
        width: 350px;
    }
}


.social{
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f13574;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width : 430px) {
    .social a {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: #f13574;
    bottom: 35px;
    font-size: 14px;
}

@media (max-width : 430px) {
    .end {
        font-size: 10px;
    }
}